pre,
code {
  font-family: $monospaced;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  line-height: 1.45em;
  // color: $code-color;
}

code.highlighter-rouge {
  display: inline-block;
  padding: 0.1em 0.4em;
  transform: translateY(-5%);
  margin: 0 0.25em;
}

code.highlighter-rouge,
code span {
  font-size: 85%;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

div.highlight {
  border-radius: 4px;
}

.highlight {
  background-color: $code-bg;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;

  pre {
    padding: 0;
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 0.75rem 0 0.25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}
