---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-info"><span>&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%Y년 %m월 %d일" }}</time></div>
  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments %} {% include disqus_comments.html %} {% endif %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="right arrow">다음 포스트 &#8594;</a>
  {% endif %} {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="left arrow">&#8592; 이전 포스트</a>
  {% endif %}

  <a href="#" class="top">맨 위로</a>
</div>
